// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.main-container{
    width: 12rem;
    height: 25rem;
    margin-left: 10rem;
}
.avatar{
    width: 14rem;
    height: 14rem;
    border-radius: 15px;
}
.size-btn{
    width: 14rem;
    margin-top: 0.5rem;
}
.info{
    display: flex;
}
.person{
    height:10rem;
    width: 15rem;
    margin-left: 4rem;
}

.text-bold{
    font-weight: bold;
}

.text-margin{
    margin-top: 1px;
    margin-bottom: 1px;
}

.notifications{
    position: absolute;
    right: 1%;
    bottom: 5%;
    width: 18rem;
    height: 5rem;
    overflow: hidden;
    padding: 5px;
}

.notifications-panel{
    background: rgba(17, 17, 17, 0.6);
    width: 100%;
    height: 50%;
    box-shadow: 0 0 2px;
}

.notifications-bottom{
    width: 100%;
    height: 50%;
    background: rgba(17, 17, 17, 0.6);
}

.notifications-message{
    margin: 0;
    padding: 2%;
    margin-left: 3%;
    word-wrap: break-word;
    color: white;
}

.chat{
    height: 60vh;
    width: 100%;
    ax-height:200px;
    overflow-y: auto;
}

.chat-message-my{
    width: 50%;
    margin-left: 50%;
    background: rgba(255, 0, 0, 0.05);
    display: flex;
    padding-left: 10px;
}

.chat-message-to{
    width: 50%;
    margin-right: 50%;
    background: rgba(0, 255, 0, 0.05);
    display: flex;
    padding-left: 10px;
}
